# Report weather analysis

![weather](https://cdn.pixabay.com/photo/2022/04/12/00/30/weather-7126917_1280.png)

## Description:
***
In this notebook, provide a concise report outlining how to accomplished a few tasks using Code Space. Include brief explanations of the tasks and the commands used to achieve the task objective.

## Importing libraries

In [7]:
# Data frames
import pandas as pd

## Analysing the Data

In [8]:
# Read the data
df = pd.read_json('data/weather/20241201_185727_athenry.json')

In [9]:
# show the data
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,11,02n,Fair,"""Fair""",9,-,S,180,91,0.0,1006,Sunday,2024-01-12,00:00
1,Athenry,11,02n,Fair,"""Fair""",13,-,S,180,90,0.0,1006,Sunday,2024-01-12,01:00
2,Athenry,11,02n,Fair,"""Fair""",11,-,S,180,90,0.0,1005,Sunday,2024-01-12,02:00
3,Athenry,11,04n,Cloudy,"""Cloudy""",7,-,S,180,92,0.0,1005,Sunday,2024-01-12,03:00
4,Athenry,11,04n,Cloudy,"""Cloudy""",9,-,S,180,94,0.1,1005,Sunday,2024-01-12,04:00

In [ ]:
# Information about the columns and types of variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   19 non-null     object
 1   temperature            19 non-null     int64
 2   symbol                 19 non-null     object
 3   weatherDescription     19 non-null     object
 4   text                   19 non-null     object
 5   windSpeed              19 non-null     int64
 6   windGust               19 non-null     object
 7   cardinalWindDirection  19 non-null     object
 8   windDirection          19 non-null     int64
 9   humidity               19 non-null     int64
 10  rainfall               19 non-null     float64
 11  pressure               19 non-null     int64
 12  dayName                19 non-null     object
 13  date                   19 non-null     datetime64[ns]
 14  reportTime             19 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 2.4+ KB

# Data visualization

***
### End